

<!--==== Slider and Card style plugin ====-->
<script type="text/javascript" src="resources/js/jquery.baraja.js"></script>
<script type="text/javascript" src="resources/js/jquery.vegas.min.js"></script>
<script type="text/javascript" src="resources/js/jquery.bxslider.min.js"></script>

<!--=== Features section Starts ===-->
	<section id="section-feature" class="feature-wrap">
		<div class="container features center">
                            <ul>
                                <li class="left">
                                    <ul class="list-inline">
                                        <li><div id="bx-pager" class="left client-photos">

						<a data-slide-index="0" href="#viajero" class="photo-hold">
							<span class="photo-bg">
								<img src="resources/images/profile.jpg" alt="" /> <!-- Client photo 1 -->
							</span>
						</a>  
                                        </div>
                                        </li>
                                        <li><h3 class="step-title color-scheme">El nombre del viajero</h3></li>
                                    </ul>
                                </li>
                                <li><br></li>
                                <li>
                                    <ul class="list-inline">
                                        <li><input id="name" class="input-field form-item field-name" type="text" required="required" name="ciudad-evento" placeholder="Ciudad" />
                                        </li>
                                        <li>
                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                             <div class="collapse navbar-collapse" id="editorial-navbar">
                                             <button id="refresh-evento" class="fancy-button button-line btn-col small horizontal" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                                             <button class="fancy-button button-line btn-col small horizontal">
                                                Buscar	
                                                    <span class="icon">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                            </button>
                                             </div>
                                        </li>
                                    </ul>

                                </li>
                            </ul>

                    <br>

                    <div ng-hide="ctrl.editMode">
                    		<ul>
                    			<label class="feature-title color-scheme"> Información ng </label>
                    			<li ng-repeat="record in records">
                    				{{record.name}}
                    			</li>
                    		</ul>
                    </div>
                    <div  class="col-lg-12">
						<!--Features container Starts -->
						<ul id="card-ul" class="features-hold baraja-container">

							<!-- Single Feature Starts ng-repeat -->
							<li ng-repeat="record in records"  class="single-feature" title="Card style1" id="{{$index}}-card">
								<img src="resources/images/monserrate-church.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">{{record.name}}</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>
                                                                
                                                                        <a ui-serf="evento1" class="fancy-button button-line btn-col small vertical">
										Información
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>

							</li>
							<!-- Single Feature Ends -->

						

							<!-- Single Feature Starts -->
							<li class="single-feature" title="Card style2" >
								<img src="resources/images/Universal-studios.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Universal</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>

                                                                        <a ui-serf="evento1" class="fancy-button button-line btn-col small vertical">
										Información
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>
							</li>
							<!-- Single Feature Ends -->
                                                        
                                                        <!-- Single Feature Starts -->
							<li class="single-feature" title="Card style3" >
								<img src="resources/images/33.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Foto 33</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>

                                                                        <a ui-serf="evento1" class="fancy-button button-line btn-col small vertical">
										Información
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>
							</li>
							<!-- Single Feature Ends -->
                                                        
                                                        <!-- Single Feature Starts -->
							<li class="single-feature" title="Card style4" >
								<img src="resources/images/1.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Foto 1</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>

                                                                        <a ui-serf="evento1" class="fancy-button button-line btn-col small vertical">
										Información
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>
							</li>
							<!-- Single Feature Ends -->
                                                        
                                                        <!-- Single Feature Starts -->
							<li class="single-feature" title="Card style5" >
								<img src="resources/images/22.jpg" alt="" class="feature-image" /><!-- Feature Icon -->
								<h4 class="feature-title color-scheme">Foto 22</h4>
								<p class="feature-text">
									Curabitur posuere feugiat ipsum, sed elementum tortor maximus ut.
								</p>

                                                                        <a ui-serf="evento1" class="fancy-button button-line btn-col small vertical">
										Información
										<span class="icon">
											<i class="fa fa-leaf"></i>
										</span>
									</a>
							</li>
							<!-- Single Feature Ends -->
						</ul>
						<!--Features container Ends -->

						<!-- Features Controls Starts -->
						<div class="features-control relative">
							<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
								<span class="icon">
									<i class="fa fa-arrow-left"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
								<span class="icon">
									<i class="fa fa-expand"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
								<span class="icon">
									<i class="fa fa-compress"></i>
								</span>
							</button>
							<button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
								<span class="icon">
									<i class="fa fa-arrow-right"></i>
								</span>
							</button>
						</div>
						<!-- Features Controls Ends -->
				</div>
			</div>  
	</section>
	<!--=== Features section Ends ===-->





