
<div class="container features center">
<div class="row porfolio-container">
				<div class="col-md-10 col-md-offset-1 center section-title">
					<h3 style="color:grey">Multimedia</h3>
                                        <h5 style="color:grey"><b>¡Accede, agrega y edita a los recuerdos vividos en tu viaje a través de tus fotos, música y videos!</b></h5>
				</div>
				<!-- Single screenshot starts -->
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">

                                            <div class="photo-box">
                                                    <img src="resources/images/multimedia1.jpg" alt="multimedia 1"  />
                                                    <div class="photo-overlay">
                                                            <h4>Vacaciones</h4>
                                                    </div>
                                                    <span class="photo-zoom">
                                                            <a href="src/modules/single/single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                                                    </span>
                                            </div>
                                            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                            <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
					</div>
				</div>
				<!-- Single screenshot ends -->

				<!-- Single screenshot starts -->
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
                                            <div class="photo-box">
                                                    <img src="resources/images/multimedia2.png" alt="" />
                                                    <div class="photo-overlay">
                                                            <h4>Rio de Janeiro</h4>
                                                    </div>
                                                    <span class="photo-zoom">
                                                            <a href="src/modules/single/single-project.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                                                    </span>
                                            </div>
                                            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                            <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
					</div>
				</div>
				<!-- Single screenshot ends -->

				<!-- Single screenshot starts -->
				<div class="col-md-4 col-sm-4 col-xs-6">
					<div class="screenshot">
                                            <div class="photo-box">
                                                    <img src="resources/images/33.jpg" alt="" />
                                                    <div class="photo-overlay">
                                                            <h4>Playa</h4>
                                                    </div>
                                                    <span class="photo-zoom">
                                                            <a href="src/modules/Timeline/timeline.tpl.html" class="view-project"><i class="fa fa-search-plus fa-2x"></i></a>
                                                    </span>
                                            </div>
                                            <button id="{{$index}}-edit-btn" class="btn btn-default btn-sm" ng-click="ctrl.editRecord(record)"><span class="glyphicon glyphicon-edit"></span> Edit</button>
                                            <button id="{{$index}}-delete-btn" class="btn btn-default btn-sm" ng-click="ctrl.deleteRecord(record)"><span class="glyphicon glyphicon-minus"></span> Remove</button>
					</div>
				</div>
				<!-- Single screenshot ends -->
                    <!--botones crear y refrescar-->
                        <div class="sign-up" style="float:left;widht:225px">
                            <button id="create-multimedia" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.createRecord()"><span class="glyphicon glyphicon-plus"></span> Create</button>
                            <button id="refresh-multimedia" class="btn btn-default navbar-btn" ng-hide="ctrl.editMode" ng-click="ctrl.fetchRecords()"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                        </div>
                    <!--fin botones crear y refrescar-->

			</div>



			<div id="portfolio-loader" class="center">
				<div class="loading-circle fa-spin"></div>
			</div> <!--=== Portfolio loader ===-->

			<div id="portfolio-load"></div><!--=== ajax content will be loaded here ===-->
                            <div class="col-md-12 center back-button"><!--Lo que salga dentro de este div solo aparece despues del clik en un boton-->
                                <!-- <div class="container pricing"> -->
                                <div class="row">
                                        <!-- Intinerario1 -->
                                        <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="500">
                                                <div class="single-pricing">

                                                        <div class="pricing-head">
                                                                <h4 class="pricing-heading color-scheme">Itinerario 1</h4>
                                                        </div>


                                                        <div class="sign-up">
                                                                <a href="#" class="fancy-button button-line btn-col zoom">
                                                                        <p title="Escoger" style="font-size:22px">Escoger &#x261D</p>
                                                                        <!--&#10084 corazon-->
                                                                        <!--&#9992 avion -->
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>

                                        <!-- Itinerario2 -->
                                        <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="700">
                                                <div class="single-pricing">

                                                        <div class="pricing-head">
                                                                <h4 class="pricing-heading color-scheme">Itinerario 2</h4>
                                                        </div>


                                                        <div class="sign-up">
                                                                <a href="#" class="fancy-button button-line btn-col zoom">
                                                                        <p title="Escoger" style="font-size:22px">Escoger &#x261D</p>
                                                                        <!--&#10084 corazon-->
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>

                                        <!-- Intinerario3 -->
                                        <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="900">
                                                <div class="single-pricing">

                                                        <div class="pricing-head">
                                                                <h4 class="pricing-heading color-scheme">Itinerario 3</h4>
                                                        </div>


                                                        <div class="sign-up">
                                                                <a href="#" class="fancy-button button-line btn-col zoom">
                                                                        <p title="Escoger" style="font-size:22px">Escoger &#x261D</p>
                                                                        <!--&#10084 corazon-->
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>

                                        <!-- Intinerario4 -->
                                        <div class="col-md-3 col-sm-6 single-pricing-wrap center animated" data-animation="bounceInLeft" data-animation-delay="1100">
                                                <div class="single-pricing">

                                                        <div class="pricing-head">
                                                                <h4 class="pricing-heading color-scheme">Itinerario 4</h4>

                                                        </div>


                                                        <div class="sign-up">
                                                                <a href="#" class="fancy-button button-line btn-col zoom">
                                                                        <p title="Escoger" style="font-size:22px">Escoger &#x261D</p>
                                                                        <!--&#10084 corazon-->
                                                                </a>
                                                        </div>
                                                </div>
                                        </div>


                                </div>
                        <!-- </div> -->


                                    <a class="backToProject fancy-button button-line bell btn-col" href="#">
                                            Atras
                                            <span class="icon">
                                                    <i class="fa fa-arrow-left"></i>
                                            </span>
                                    </a>
                            </div>
</div>
<!--==== MailChimp Widget plugin ====-->
